@media only screen and (max-width: 650px) {

    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    body {
        height: calc(100vh - 60px) !important;
    }

    section {
        height: calc(100vh - 60px) !important;
        padding: 0px calc(14px) !important;
    }

}