@media only screen and (max-width: 3000px) {

    /* cores do design system */
    :root {
        --hover-blue: #05247B;
        --hover-cyan: #00B0B3;
        --hover-green: #00CC35;
        --hover-pink: #B3002B;
        --hover-orange: #D17800;
        --hover-gray: #1E1E24;

        --default-blue: #0733AD;
        --default-cyan: #00E5E8;
        --default-green: #35FF69;
        --default-pink: #FF1049;
        --default-orange: #FF9505;
        --default-gray: #7D7D82;

        --disabled-blue: #7B9CFA;
        --disabled-cyan: #CCFEFF;
        --disabled-green: #8FFFAC;
        --disabled-pink: #FB7E9C;
        --disabled-orange: #FFCB85;
        --disabled-gray: #F9F9F9;
    }

    /* reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Exo 2', sans-serif;
    }

    body {
        height: calc(100vh - 70px);
        overflow-x: hidden;
        width: 100%;
    }

    section {
        height: 100%;
        width: 100vw;
        display: block;
        margin-top: 20px;

        padding: 0px calc(5rem);
    }

    button {
        /* retira borda do botão */
        border: none;
        cursor: pointer;
        padding: 10px 25px;

        /* estilos retirados do figma */
        border-radius: 6px;
        background-color: var(--default-green);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        line-height: 26px;
        font-size: 22px;
        color: var(--hover-gray);
        font-weight: 500;
    }

    button:hover {
        background-color: var(--hover-green);
        transform: translateY(2px);
    }
}