/* ESTILO GLOBAL - MARGEM, PREENCHIMENTO E FONTE */
* {
    font-family: 'Exo 2';
    margin: 0;
    padding: 0;
    z-index: 2;
}

/* CORES QUANDO ABRIR O SITE */
:root {
    --principal: #05247B;
    --principal-claro: #0733AD;
    --background-vermelho: #f7f5f5;
    --background-azul: #05247B;
    --text-res: white;
    --text-emp: black;
    --azulim: #00E5E8;
}

/* CORES QUANDO TIVER VISUALIZANDO OS PLANOS RESIDENCIAIS */
.res-color:root {
    --principal: #05247B;
    --principal-claro: #0733AD;
    --background-azul: #05247B;
    --background-vermelho: #f7f5f5;
    --text-res: white;
}

/* CORES QUANDO TIVER VISUALIZANDO OS PLANOS EMPRESARIAIS */
.emp-color:root {
    --principal: #FF1049;
    --principal-claro: #FF1049;
    --background-vermelho: #B2002B;
    --text-emp: white;
    --background-azul: #f7f5f5;
    --text-res: black;
}

body {
    background-color: rgb(241, 241, 241) !important;
    overflow-x: hidden;
}

h1 {
    font-weight: 800 !important;
    font-size: 48px !important;
    line-height: 58px !important;
}

h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

a {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

button {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

/*DEIXA A APP BAR EM FORMATO DE LINHA */
li {
    margin-top: 10px;
    list-style: none;
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/* RETIRA A DECORACAO DO TEXTO DA APPBAR, E ARRUMAR OS BOTOES */
/* DEIXA A COR DA FONTE EM PRETO */
li a {
    text-decoration: none;
    color: #000;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 40px;
}

li .a-sem-hover:hover {
    background: #fff;
    color: #fff;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.col1 {
    display: flex;
    flex-direction: column;
}

/* USADO PARA QUE O HOVER NO CONTATO NAO ZUE TUDO */
.contato a:hover {
    padding-left: 11px;
    padding-right: 14.9px;
}

/* DEIXA O BOTAO DO CENTRAL DO ASSINANTE FIXO NA COR AZUL */
.azulis a {
    background: var(--principal);
    color: #fff;
}

/* COLOCA O PADDING NO BOTAO CENTRAL DO ASSINANTE, PARA NAO INTERFERIR NOS OUTROS */
.azulis a:hover {
    padding-left: 16px;
    padding-right: 16px;
}

/* COLOCA O PADDING NO BOTAO PLANO DA APPBAR, PARA NAO INTERFERIR NOS OUTROS */
.planos a:hover {
    padding-left: 13.40px;
    padding-right: 13.40px;
}

/* COLOCA O PADDING NO BOTAO SUPORTE DA APPBAR, PARA NAO INTERFERIR NOS OUTROS */
.suporte a:hover {
    padding-left: 11px;
    padding-right: 11px;
}

/* QUANDO DAR HOVER NOS BOTOES DA APPBAR ELES GANHAM O FUNDO AZULIS E A COR DA FONTE FICA BRANCA */
/* TAMBEM GANHAM UM PADDING PARA NAO FICAR MEXENDO E BUGA OS ZOI */
li a:hover {
    background: var(--principal);
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
}

/* AO DAR SCROLL A APPBAR FICA POR CIMA DE TUDO*/
.stick {
    position: fixed;
    z-index: 3;
}

.appbar {
    /*COLOCA A COR BRANCA NA APPBAR*/
    background-color: #fff;
    /* PADDING EM CIMA DOS BOTOES DA APPBAR */
    padding: 7px;
    /* DEIXA OS BOTOES DA APPBAR TODOS PARA A DIREITA */
    display: flex;
    width: 100vw;
    /* COLOCA OS BOTOES DA APPBAR NO CENTRO */
    align-items: center;
    /* DEIXA OS BOTOES DA APPBAR PARA A DIREITA */
    justify-content: space-between;
    /* DA UM PADDING NA ESQUERDA DA LOGO DA ONDAAGIL */
    padding-left: 30px;
}

/* DA UM PADDING NA DIREITA DOS BOTOES DA APPBAR  */
.appbar .divider {
    padding-right: 40px;
}

.appbar a {
    font-weight: 900;
}

/* COLOCA FILTRO EM CIMA DS IMAGENS NO INICIO DO SITE */
.w-100 {
    width: 100vw;
    height: 85vh;
    margin-top: 63px;

    object-fit: cover;
    filter: opacity(80%) brightness(70%);
}

#carouselExampleCaptions button {
    z-index: 3;
}

/* DEIXA AS IMAGENS INICIAIS EM CARROCEL 3S, E O TEXTO CENTRALIZADO */
.carousel-caption {
    filter: opacity(100%) brightness(100%);
    word-spacing: 20px;
    top: 37vh !important;
}

/* MUDA A FONTE DAS IMAGENS INICIAIS */
.carousel-caption h5 {
    font-family: "Monoton", cursive;
    font-size: 70px;
}

/* ORGANIZA AS IMAGENS INICIAIS LOGO ABAIXO DA APPBAR */
.carousel-control-prev {
    left: 0;
    width: 100px !important;
}

/* BACKGROUND NAS SETAS PARA MUDAR IMAGENS PRINCIPAIS */
.carousel-control-prev:hover {
    background-color: rgba(182, 182, 182, 0.178);
}

/* DEIXA AS SETAS MAIS PARA OS CANTOS DAS IMAGENS PRINCIPAIS */
.carousel-control-next {
    right: 0;
    width: 100px !important;
}

/* BACKGROUND NAS SETAS PARA MUDAR IMAGENS PRINCIPAIS */
.carousel-control-next:hover {
    background-color: rgba(182, 182, 182, 0.178);
}

#planos {
    height: 100vh;
    margin-top: 60px;
    /* background-size: 80vh;
    background-repeat: no-repeat; */
}

#planos .background-pattern {
    position: absolute;
    z-index: 0;
    /* background-image: url("");
    background-repeat: no-repeat; */

    object-fit: cover;
    opacity: 20%;
    height: 77.08vh;
    width: 100%;
}

/* COLOCA OS BOTOES PARA MUDAR DE PLANO (EMPRESARIAL - RESIDENCIAL) NO CENTRO DO BAGULHO */
#planos .botoes {
    display: flex;
    justify-content: center;
}

/*  COLOCA ESTILO NO BOTAO DE PLANOS RESIDENCIAIS */
#planos .botoes .btn-plan-res {
    z-index: 2;
    margin-right: 12px;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    border: #05247B solid;
    background-color: var(--background-azul);
    color: var(--text-res);
    cursor: not-allowed;
}

#planos .botoes .btn-plan-res:hover {
    background-color: #05247B;
    color: white;
}


/*  COLOCA ESTILO NO BOTAO DE PLANOS EMPRESARIAIS */
#planos .botoes .btn-plan-emp {
    margin-left: 15px;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    border: #B2002B solid;
    background-color: var(--background-vermelho);
    color: var(--text-emp);
}

/* MUDA A COR DO BACKGROUND E DO TEXTO QUANDO FAZ HOVER */
#planos .botoes .btn-plan-emp:hover {
    background-color: #B2002B;
    color: white;
}

/* ORGANIZA OS PLANOS UM DO LADO DO OUTRO */
#planos .boxes {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

/* DA UM ZOOM AO FAZER HOVER NO PLANO */
#planos .zoom {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 300ms;
}

/* DA UM ZOOM AO FAZER HOVER NO PLANO */
#planos .zoom:hover {
    transform: scale(1.04);
}

/* MUDA A PARA A COR AZUL AO FAZER HOVER NOS PLANOS */
#planos .zoom:hover>.top-container {
    background-color: var(--principal);
}

#planos .plano1 {
    animation: levantadinha .44s ease-in-out alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2.2s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#planos .plano2 {
    animation: levantadinha .43s ease-in-out alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2.2s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#planos .plano3 {
    animation: levantadinha .42s ease-in-out alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2.2s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#planos .plano4 {
    animation: levantadinha .41s ease-in-out alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2.2s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes levantadinha {
    from {
        transform: translateY(70vh);
    }
    to {
        transform: translateY(0px);
    }
}

/* TAMANHO DO CONTAINER AZUL DOS PLANOS */
#planos .top-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 210px;
    background-color: var(--principal-claro);
    color: #fff;
}

#planos p {
    margin: 0 !important;
}

/* TAMANHO DO CONTAINER BRANCO DOS PLANOS */
#planos .bottom-container {
    background-color: #F7F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 310px;
    width: 210px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#planos .bottom-container button {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: var(--principal) 2px solid;
}

#planos .bottom-container button:hover {
    transform: scale(1.07);
    background-color: var(--principal);
    color: white;

}

#planos .items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#planos li {
    font-weight: 800;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}


/* DEIXA AS BORDAS CIRCULRES E DEIXA COM  */
#planos .estilo {
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.94);
    box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 0.94);
}

#sobre-nos .row-sobre-nos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#sobre-nos .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COLOCA O TITULO SOBRE NOS NO LUGAR CERTO */
#sobre-nos h1 {
    color: var(--principal);
    right: 260px;
}

#sobre-nos p {
    width: 280px;
    text-align: justify;
    text-justify: inter-word;
}

.descricao-plano {
    z-index: 3;
}

.desc-icon-col {
    animation: vim-de-ladin .40s ease-in-out alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.5s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    
}

@keyframes vim-de-ladin {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0px);
    }
}

.descricao-plano h4 {

    color: var(--principal);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}


#mapa-chileno {
    width: 1000px;
    height: 650px;
    /* margin-top: -150px; */
    overflow: hidden;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 0.94);
    opacity: 60%;
}

#mapa-chileno:hover {
    opacity: 100%;
}

#mapa {
    height: 950px;
    width: 1000px;
    margin-top: -150px;
}


.descricao-plano {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 60px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;
    margin-top: 30px;
}

.descricao-plano h1 {
    color: var(--principal);
}

.descricao-plano h2 {
    margin-top: 5px;
}

.desc-icon-col {
    display: flex;
    flex-direction: column;
}

.desc-icon-row {
    display: flex;
    flex-direction: row;

    align-content: center;
    align-items: flex-end;
}

.desc-icon-row img {
    margin-right: 15px;
}

#contato .contato-content {
    display: flex;
}

#contato .contato-zoom {
    animation: zoom .8s ease-in alternate;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.5s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes zoom {
    from {
        transform: scale(100%)
    }
    to {
        transform: scale(130%)
    }
}

#contato .contato-content h1 {
    padding-top: 200px;
    padding-left: 300px;
    color: var(--principal);
}

#contato .contato-content p {
    margin-top: 25px;
    margin-left: 285px;
    padding-right: 0px !important;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}

#contato .contato-content button {
    padding: 5px 150px 5px 150px;
    margin-left: 325px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: var(--principal);
    background-color: var(--principal);
    color: white;
    font-weight: 800px;
}

#contato .contato-content button:hover {
    transform: scale(1.07);
}

#contato .contato-content .blocks {
    margin-top: 100px;
    margin-left: 520px;
}


#contato .contato-content .bloco {
    display: flex;
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 0.94);
    align-items: center;
}

#contato .contato-content .bloco-azul {
    display: flex;
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--principal);
    box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 0.94);
    align-items: center;
}

#contato .contato-content .bloco a {
    color: black;
    text-decoration: none;
    text-align: center;
}

#contato .contato-content .bloco .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#contato .contato-content .block2 {
    height: 280px;
    width: 280px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 12px 2px rgba(138, 138, 138, 0.94);
}

#contato .contato-content .blocks h4 {
    color: var(--principal);
    font-weight: 700;
}

#contato .contato-content .blocks h5 {
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

footer {
    background-color: var(--principal);
    color: white;
    height: 500px;
    padding: 20px;
}


footer a {
    text-decoration: none;
    color: white;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

footer a:hover {
    color: var(--azulim);
}

footer h3 {
    margin-bottom: 20px;
    font-weight: 800;
}

footer .cols {
    margin-top: 70px;
    display: flex;
    /* height: 300px; */
    justify-content: space-around;
}

footer .row1 {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

footer .col1 {
    width: 500px;
}

footer .razao-social {
    margin-top: 30px;
}

footer .aplicativo h4 {
    font-weight: 700;
}

footer .aplicativo img {
    width: 200px;
}