@media only screen and (max-width: 600px) {
    #footer-desktop {
        display: none;
    }
    /* footer .logo {
        margin-left: -7px;
    } */
    footer {
        height: 650px;
        background-color: var(--default-blue);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 15px;
    }

    footer a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--disabled-gray);
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    footer p {
        font-size: 18px;
        line-height: 22px;
        color: var(--disabled-gray);
    }

    footer .info {
        margin: 17px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer .info .texto1 a:nth-child(4) { 
        margin: 14px 0;
    }

    footer .info .texto1 a:nth-child(5) { 
        margin-bottom:34px;
    }

    footer .info .texto2 a:nth-child(3) { 
        margin-top: 14px;
    }
    footer .info .texto2 a:nth-child(5) { 
        margin: 10px 0;
    }
    footer .info .texto2 {
        max-width: 129px;
    }

    footer .column {
        display: flex;
        flex-direction: column;
    }
    

    footer .row {
        display: flex;
        align-items: center;
    }

    footer .row img {
        height: 16.04px;
        margin-right: 5px;
    }

    footer .anatel {
        width: 201px;
        border-radius: 6px;
    }

    footer .empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer .empresa hr {
        width: 50%;
        margin: 25px 0;
    }

    footer .empresa p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--disabled-gray);
        text-align: center;
    }

    footer .empresa p:nth-child(3) {
        margin: 20px 0;
    }

    footer .empresa a {
        text-decoration: underline;
    }

    /*
    footer .logo {
        width: 256px;
        margin-left: -42px;
    }

    footer .info hr {
        margin: 20px 0;
        width: 169px;
    }

    footer .info .anatel {
        width: 169px;
        border-radius: 6px;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
    }

    footer .links h2 {
        font-weight: 700;
        font-size: 26px;
        color: var(--disabled-gray);
        line-height: 36px;
    }

    footer .links a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--disabled-gray);
        text-decoration: none;
        /* margin-left: 5px; 
    }

    footer .links a:hover {
        text-decoration: underline;
    }

    footer .link-site a:nth-child(2) {
        margin-top: 10px;

    }

    footer .link-site a:nth-child(5) {
        margin: 20px 0;
        /* margin-left: 5px; 

    }

    footer .link-planos a:nth-child(2) {
        margin-top: 10px;
    }

    footer .link-contato a:nth-child(2) {
        margin: 10px 0;
    }

    footer .row {
        display: flex;
        align-items: center;

    }

    footer .row:nth-child(2) {
        margin-top: 10px;
    }

    footer .row p {
        font-weight: 400;
        font-size: 14px;
        color: var(--disabled-gray);
        line-height: 22px;
    }


    footer .row img {
        height: 16.04px;
        margin-right: 5px;
    }

    footer .empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    footer .empresa p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--disabled-gray);
    }

    footer .empresa a {

        color: var(--disabled-gray);

    } */


}