@media (max-width: 1820px) {
    #home-page .content h1 {
        font-size: 115px;
    }
    
    #home-page .content p {
        font-size: 19px;
        max-width: 90%;
    }
    
    .vermelho-main {
        color: var(--default-pink);
    }
    
    #home-page img {
        /* border: 1px var(--default-gray) dashed; */
        width: 40%;
    }

    #home-page .buttons p {
        font-size: 16px;
    }

    button {
        padding: 2px 20px;
        font-size: 16px;
    }
}