@media only screen and (max-width: 1820px) {
    #tela1 {
        height: 80%!important;
    }
    
    #home-page {
        /* alinhamento */
        display: flex;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    #home-page .content {
        max-width: 80%!important;
        /* border: 1px var(--default-gray) dashed; */

        z-index: 2!important;
    }

    #home-page .content h1 {
        font-size: 140px!important;
    }
    
    #home-page .content p {
        font-size: 16px!important;
        max-width: 90%;
    }
    
    .vermelho-main {
        color: var(--default-pink);
    }
    
    #home-img-desktop {
        /* border: 1px var(--default-gray) dashed; */
        width: 35%!important;
    }

    #home-page .buttons p {
        font-size: 16px!important;
    }

    

}