@media only screen and (min-width: 600px) and (max-width: 1300px){

    html {
        scroll-behavior: smooth;
    }

    html,
    body {
        position: relative;
        overflow-x: hidden;
        height: 100%;
    }

    body {
        overflow-x: hidden;
        width: 100%;
    }

    section {
        height: 100%;
        width: 100vw;
        display: block;
        margin-top: 20px;

        padding: 0px 80px;
    }

    button {
        /* retira borda do botão */
        border: none;
        cursor: pointer;
        padding: 5px 20px;

        /* estilos retirados do figma */
        border-radius: 6px;
        background-color: var(--default-green);
        box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.15);
        /* line-height: 26px; */
        font-size: 12px;
        color: var(--hover-gray);
        font-weight: 500;
    }

    button:hover {
        background-color: var(--hover-green);
        transform: translateY(2px);
    }
}