@media only screen and (min-width: 600px) and (max-width: 1300px){


    #footer-mobile {
        display: none;
    }
    footer {
        height: 513px;
        background-color: var(--default-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .info {
        margin: 57px 0;
        display: flex;
        align-items: flex-start;
    }
    /* footer .logo {
        width: 180px;
        /* margin-left: -42px; 
    } */

    footer .info hr {
        margin: 20px 0;
        background-color: var(--disabled-gray);
        width: 100px;
    }

    footer .info .anatel {
        width: 100px;
        border-radius: 6px;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
    }

    footer .links h2 {
        font-weight: 700;
        font-size: 18px;
        color: var(--disabled-gray);
        line-height: 36px;
    }

    footer .links a {
        font-weight: 400;
        font-size: 10px;
        line-height: 21px;
        color: var(--disabled-gray);
        text-decoration: none;
        /* margin-left: 5px; */
    }
    footer .links a:hover {
        text-decoration: underline;
    }

    footer .link-site a:nth-child(2) {
        margin-top: 10px;

    }

    footer .link-site a:nth-child(5) {
        margin: 20px 0;
        /* margin-left: 5px; */

    }

    footer .link-planos a:nth-child(2) {
        margin-top: 10px;
    }

    footer .link-contato a:nth-child(2) {
        margin: 10px 0;
    }

    footer .row {
        display: flex;
        align-items: center;

    }

    footer .row:nth-child(2) {
        margin-top: 10px;
    }

    footer .row p {
        font-weight: 400;
        font-size: 14px;
        color: var(--disabled-gray);
        line-height: 22px;
    }


    footer .row img {
        height: 16.04px;
        margin-right: 5px;
    }

    footer .empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    footer .empresa p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--disabled-gray);
    }

    footer .empresa a {
        
        color: var(--disabled-gray);

    }


}