@media only screen and (min-width: 600px) and (max-width: 1300px){
    #tela1 {
        padding-top: 50px;
    }

    #home-img-desktop {
        display: block;
        width: 35%;
    }

    #home-img-mobile {
        display: none;
    }

    #home-page {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    #home-page .content {
        max-width: 100%;
    }

    #home-page .content h1 {
        font-family: AntennaComp;
        color: var(--default-blue);
        font-size: 80px;
        line-height: 85%;
        max-width: 95%;
    }

    #home-page .content h3 {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        max-width: 85%;
    }

    #home-page .buttons {
        display: flex;
        margin-top: 24px;
        flex-flow: row wrap;
        align-items: baseline;
    }

    #home-page .buttons button {
        margin-top: 10px;
    }

    #home-page .buttons p {
        font-size: 10px;
        line-height: 19px;
        color: var(--default-gray);
        margin: 0px 10px;
    }


}