@media only screen and (min-width: 600px) and (max-width: 1300px){


    #app-image-desktop {
        display: none;
    }
    .app {
        margin-top: 100px;
        display: flex;
    }

    #app-image-mobile {
        margin-top: 15px;
        height: 371px;
        z-index: -1;
        position: absolute;
        left: 150px;
    }

  
    .app .texto h1 {
        z-index: 2;
        font-family: AntennaComp;
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 91%;
        text-transform: uppercase;
        color: var(--default-blue);
        max-width: 85%;
    }

    .app .texto p {
        font-size: 18px;
        line-height: 22px;
        margin: 23px 0 26px 0;
        color: var(--hover-gray);
        text-align: justify;
    }

    .app .download-button img {
        width: 140.09px;
    }
    .app .download-button img:last-child {
        margin-left: 14px;
    }
}