@media only screen and (min-width: 600px) and (max-width: 1300px){

    #image-soldado-mobile {
        display: none;
    }

    #image-soldado-desktop {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    
    
    .fundo-soldado {
        left: 0;
        /* background: url('../../../assets/images/png/pattern/fundo-soldado.png'); */
        /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.87) 20%, rgba(0, 0, 0, 0) 100%), url('../../../assets/images/png/pattern/fundo-soldado.png') no-repeat; */
        /* background-size: cover;
        background-repeat: no-repeat; */
        height: 400px;
        /* width: 100vw; */
    }
    #plano-mesh {
        display: flex;
        /* height: 76vh; */
        height: 100%;
        padding: 0 80px;
        flex-direction: column;
        justify-content: center;
    }

    #plano-mesh h1 {
        font-family: 'AntennaComp';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 91%;
        /* or 105px */

        text-transform: uppercase;
        color: #F9F9F9;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }

    #plano-mesh .desc-plano {
        margin: 15px 0;
        display: flex;
    }

    #plano-mesh .row-desc {
        display: flex;
        margin: 0 10px;
        align-items: center;
    }

    #plano-mesh .row-desc img {
        width: 17px;
        margin: 5px;
    }

    #plano-mesh .row-desc p {
        color: var(--disabled-gray);
        font-size: 10px;
    }

    #plano-mesh .mais-desc h2 {
        font-weight: 700;
        font-size: 20px;
        color: #F9F9F9;
        max-width: 60%;
        margin-bottom: 15px;
    }

    #plano-mesh .mais-desc p {
        font-size: 10px;
        color: #F9F9F9;
        max-width: 60%;
        margin-bottom: 15px;
    }

    #plano-mesh .row {
        display: flex;
        align-items: center;
    }

    #plano-mesh .row p {
        margin-left: 20px;
        font-style: italic;
        font-weight: 500;
        font-size: 10px;
        color: #F9F9F9;
    }

}