@media only screen and (min-width: 600px) and (max-width: 1300px){


    #sobre-nos {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 100px;
    }

    #sobre-nos .title-desktop {
        display: none;
    }

    #sobre-nos img {
        width: 100%;
        border-radius: 12px;
    }

    #sobre-nos .texto {
        max-width: 100%;
        margin-left: 0px;

    }

    #sobre-nos h2 {
        font-weight: 700;
        font-size: 30px;
        margin: 10px;
        line-height: 36px;
        color: var(--default-blue);
    }

    #sobre-nos .texto p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: var(--hover-gray);
    }


    #sobre-nos .texto p {
        margin-top: 20px;
    }


}