@media only screen and (min-width: 1300px) {
    #tela1 {
        padding-top: 70px;
    }

    #home-img-desktop {
        width: 40%;
    }

    #home-img-mobile {
        display: none;
    }

    #home-page {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
    }

    #home-page .content {
        max-width: 100%;
    }

    #home-page .content h1 {
        font-family: AntennaComp;
        color: var(--default-blue);
        font-size: 110px;
        line-height: 85%;
        /* max-width: 630px; */
    }

    #home-page .content h3 {
        margin-top: 40px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        max-width: 85%;
    }

    #home-page .buttons {
        display: flex;
        margin-top: 24px;
        flex-flow: row wrap;
        align-items: baseline;
    }

    #home-page .buttons button {
        margin-top: 10px;
    }

    #home-page .buttons p {
        font-size: 16px;
        line-height: 19px;
        color: var(--default-gray);
        margin: 0px 10px;
    }



}