@media only screen and (min-width: 1300px) {

    #app-image-mobile {
        display: none;
    }

    .app {
        padding: 50px 0;
        display: flex;
    }

    .app img {
        width: 423.84px;
    }

    .app .texto {
        margin-left: 24px;
    }

    .app .texto h1 {
        font-family: AntennaComp;
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 91%;
        text-transform: uppercase;
        color: var(--default-blue);
    }

    .quebra-linha {
        display: none;
    }

    .app .texto p {
        font-size: 16px;
        line-height: 22px;
        margin: 8px 0 26px 0;
        color: var(--hover-gray);
    }

    .app .download-button img {
        width: 117.75px;
    }

    .app .download-button img:last-child {
        margin-left: 14px;
    }
}